<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Angular Example</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><i class="fa fa-table"></i> Data</a></li>
                <li><a href="#charts"><i class="fa fa-line-chart"></i> Charts</a></li>
                <li><a href="#editable"><i class="fa fa-pencil-square-o"></i> Editable</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>
</div>
 