<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pollprototypeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pollprototypeapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pollprototypeAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pollprototypeAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PollDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=poll_db;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PollPrototypeAPI.Models.PollSampleContext, PollPrototypeAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdventureworksConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=poll_db;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=AdventureWorks2012;Integrated Security=False;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdventureworksConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:zikyjkcjde.database.windows.net,1433;initial catalog=AdventureWorks2012;integrated security=False;user id=pollAdmin@zikyjkcjde;password=_Kormos1;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=poll_db;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=AdventureWorks2012;Integrated Security=False;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:zikyjkcjde.database.windows.net,1433;Database=AdventureWorks2012;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdventureworksConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:zikyjkcjde.database.windows.net,1433;initial catalog=poll_db;user id=pollAdmin@zikyjkcjde;password=_Kormos1;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=poll_db;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PollDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zikyjkcjde.database.windows.net,1433;Initial Catalog=poll_db;User ID=pollAdmin@zikyjkcjde;Password=_Kormos1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>